In [36]:
import json
import pandas as pd

# JSONL 파일 경로
file_path = '/Users/master/Documents/work/KT/lm-evaluation-harness/output/gpt-4o/samples_leaderboard_musr_team_allocation_2024-11-22T00-18-24.113549.jsonl'

# JSONL 파일 읽기
data = []
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # 각 줄을 JSON 객체로 변환하여 리스트에 추가
            data.append(json.loads(line))
        except json.JSONDecodeError as e:
            print(f"JSONDecodeError: {e} - Line: {line}")

In [42]:
data[0].keys()
data[0].get('arguments')

{'gen_args_0': {'arg_0': ['[{"role": "user", "content": "Please answer the following question with (a), (b), (c), (d) \\n\\nNarrative: Amidst the vibrant chaos of the Redwood Zoo, nestled in the heart of the city\'s sprawling jungle, the task of assigning roles was a crucial cog in the machinery of its operation. As the manager, the responsibility of allocating Olivia, Alex, and Mia to the positions of Animal Caretaker and Exhibit Cleaner presented an intriguing conundrum. Each individual, with their distinct personalities and skill sets, added a layer of complexity to this assignment puzzle.\\n\\nLet\'s begin with Alex, the tall lad with bright eyes, whose history with the mighty beast of the animal kingdom, lacked a certain comfort. The lad, known to express an almost innate unease around animals larger than him, fell short of the prerequisites for an Animal Caretaker. His comfort zone extended to the four-legged companions in our homes, a sentiment I withheld from the petting zoo section of our park. Yet, his association and collaboration with Mia had seen quite the successes in their high school club\'s fundraising initiatives.\\n\\nHowever, his relationship with the gentle Olivia was not as seamless. Alex often mentioned feeling ostracized due to Olivia\'s tendency to maintain her distance. This seemingly innocent avoidance stirred disquiet within our hushed ranks. And all this, stemming from a disagreement rooted in their previous shared workplaces. Unresolved perhaps, but a factor nonetheless.\\n\\nThen, there was Mia, the determined bright spark, whose affinity for cleanliness would often bemuse us. She would spend her spare time in her immaculate home cleaning and reorganizing, while her enthusiasm for a spotless Exhibit could not be underestimated. However, her overly thorough methods would invariably result in clashes with Olivia, who criticized her for crossing some form of unspoken boundary.\\n\\nMia too had her phobias, the gravelly roars of the zoo\'s majestic lion had once left her shaken and worried. Loud noises had a similar effect leaving her in a state of nervous terror, much like that of the petite animals held within our barriers. Yet, she was all smiles and peasant conversation around Alex during lunch breaks, sharing a sense of humor that lightened the mood of our everyday grind.\\n\\nFinally, subdued Olivia, a soul strangled with allergies, and a deep-seated fear for wild animals. An incident with a chimp in her past wove tales of nightmarish betrayal, enough to send her away from the animal exhibits during her zoo visits. Potent elements of dust and pollen resulted in uncontrolled sneezing fits, a remainder from her days at the school as a custodian, responsible for the cleanliness and maintenance.\\n\\nThree souls; Animals to be cared for, Exhibits to be cleaned. Assigning them was always going to be an enigma for anyone navigating the zoological labyrinth. Love for animals, discomfort, alliances, conflicts; each factor extraordinarily crucial in shaping not just the overall productivity but also the personal growth of each of these individuals at the Redwood Zoo.\\n\\nQuestion: Given the story, how would you uniquely allocate each person to make sure both tasks are accomplished efficiently?\\n\\nChoices: (a) - Animal Caretaker: Alex, Exhibit Cleaner: Mia and Olivia\\n(b) - Animal Caretaker: Olivia, Exhibit Cleaner: Alex and Mia\\n(c) - Animal Caretaker: Mia, Exhibit Cleaner: Alex and Olivia\\n\\n\\nAnswer: "}]'],
  'arg_1': {'do_sample': False, 'until': ['Question:', '</s>', '<|im_end|>']}}}

In [40]:
targets = []
responses = []
filtered_responses = [] 
scores = []
for index, item in enumerate(data):
    targets.append(item.get('target'))
    responses.append(item.get('resps'))
    filtered_responses.append(item.get('filtered_resps'))
    scores.append(item.get('exact_match'))

df = pd.DataFrame({'targets': targets, 'responses': responses, 'filtered_responses': filtered_responses, 'scores': scores})
# df[df['scores'] == 1.0]
df

,targets,responses,filtered_responses,scores
0,(a),"[[(c) - Animal Caretaker: Mia, Exhibit Cleaner...",[(c)],0.0
1,(b),"[[(c) - Recitation: Rachel, Scoring: David and...",[(c)],0.0
2,(b),"[[(b) - Classroom Teaching: Andrea, Outdoor Su...",[(b)],1.0
3,(a),"[[(b) - Acting: Emma, Stage Designing: Liam an...",[(b)],0.0
4,(a),"[[(d) - Manage court: Eleanor, Lead armies: No...",[(d)],0.0
5,(b),"[[(c) - Groundwork: James, Roller Operator: Li...",[(c)],0.0
6,(`),"[[(a) - Creating Art: Rebecca, Selling Art: Ma...",[(a)],0.0
7,(a),"[[(b) - Sports Trainer: Jack, Medical Assistan...",[(b)],0.0
8,(a),"[[(b) - Clearing debris: Oliver, Delivering su...",[(b)],0.0
9,(`),"[[(c) - Performing Musician: David, Sound and ...",[(c)],0.0